{% extends "base.html" %} {%block head %} {% endblock %} {%block body %}
{%if not paintings%}
<div class="columns">
    <div class="column">
        <div class='card equal-height round p-4 has-text-centered'>
            <h2 class="title mb-6">nothing</h2>
            <p class="subtitle mb-0">There's nothing here.</p>
            <p class="subtitle mb-0">There's <a id="nothing"
                    href="http://localhost:8080?q=68656c6c6f207468657265">nothing</a> here.</p>
            <p class="subtitle mb-0">There's nothing here.</p>
            <p class="subtitle mb-0">There's nothing here.</p>
        </div>
    </div>
</div>
<div class="car">

</div>
{%endif%}
<div class="columns">
    <div class="is-two-thirds">
        {% for painting in paintings %}
        <div class='column round'>
            <div class='card equal-height'>
                <a href="/painting?id={{painting.id}}">
                    <div class='card-content'>
                        <h3 class="title is-3">{{painting.title}}</h3>
                    </div>
                    <div class='card-content'>
                        <img class="post-image" src="{{url_for('static',filename=painting.filename)}}" alt="">
                    </div>
                </a>
                <div class='card-content'>
                    <div class="level">
                        {%if current_user.is_authenticated%}
                        {%if stonk(painting.id,current_user.username)%}
                        <div class="level-item round stonk stonk-active" onclick="stonks({{painting.id}})"
                            id="stonk{{painting.id}}">
                            <h5 class="title is-5">
                                <i class="fas fa-chart-line fa-lg"></i> Stonks
                            </h5>
                        </div>
                        {%else%}
                        <div class="level-item stonk round" onclick="stonks({{painting.id}})" id="stonk{{painting.id}}">
                            <h5 class="title is-5">
                                <i class="fas fa-chart-line fa-lg"></i> Stonks
                            </h5>
                        </div>
                        {%endif%}
                        {%endif%}
                        <div class="level-item">
                            <h5 class="title is-5"><i class="far fa-comments fa-lg"></i> {{painting.comments_num}}
                                comment(s)
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {%if paintings%}
    {% include "popular.html" %} {{super()}}
    {%endif%}
</div>
{%if paintings%}
<div class="has-text-centered is-flex is-flex-direction-row is-justify-content-center">
    {%if page!=1%}
    <a class="p-5" href="/?page={{page-2}}"><i class="fas fa-2x fa-arrow-left"></i></a>
    {%endif%}
    <div class="title is-5 mb-0 mt-5 pt-1">Page {{page}}</div>
    <a class="p-5" href="/?page={{page}}"><i class="fas fa-2x fa-arrow-right"></i></a>
</div>
{%endif%}
{% endblock %}