{% extends "base.html" %} {%block head %} {% endblock %} {%block body %}
{%if not paintings%}
<div class="post_upper">
    <div class="post_main">
        <div class="empty">
            <h2>nothing</h2>
            <p>There's nothing here.</p>
            <p>There's <a id="nothing" href="http://localhost:8080">nothing</a> here.</p>
            <p>There's nothing here.</p>
            <p>There's nothing here.</p>
        </div>
    </div>
</div>
{%endif%}
<div class="columns">
    <div class="is-two-thirds">
        {% for painting in paintings %}
        <div class='column'>
            <div class='card equal-height'>
                <a href="/painting?id={{painting.id}}">
                    <div class='card-content'>
                        <h3 class="title is-3">{{painting.title}}</h3>
                    </div>
                    <div class='card-content'>
                        <img class="post-image" src="{{url_for('static',filename=painting.filename)}}" alt="">
                    </div>
                </a>
                <div class='card-content'>
                    <div class="level">
                        {%if current_user.is_authenticated%}
                        {%if stonk(painting.id,current_user.username)%}
                        <div class="level-item stonk stonk-active" onclick="stonks({{painting.id}})"
                            id="stonk{{painting.id}}">
                            <h5 class="title is-5">
                                <i class="fas fa-chart-line fa-lg"></i> Stonks
                            </h5>
                        </div>
                        {%else%}
                        <div class="level-item stonk" onclick="stonks({{painting.id}})">
                            <h5 class="title is-5">
                                <i class="fas fa-chart-line fa-lg"></i> Stonks
                            </h5>
                        </div>
                        {%endif%}
                        {%endif%}
                        <div class="level-item">
                            <h5 class="title is-5"><i class="far fa-comments fa-lg"></i> {{painting.comments_num}}
                                comment(s)
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {% include "popular.html" %} {{super()}}
</div>
{%if paintings%}
<div class="pages">
    {%if page!=1%}
    <a class="change_page" href="/?page={{page-2}}"><i class="fas fa-arrow-left"></i></a>
    {%endif%}
    <div class="current_page">Page {{page}}</div>
    <a class="change_page" href="/?page={{page}}"><i class="fas fa-arrow-right"></i></a>
</div>
{%endif%}
{% endblock %}