{%extends "base.html"%}

{%block head %}
{% endblock %}

{%block body %}
<div class="is-flex-direction-row is-flex is-justify-content-center">
    <div class="columns is-centered has-text-centered">
        <form action="/login" method="POST" class="has-background-white login round">
            <div class="column">
                <h1 class="title">Login</h1>
            </div>
            <div class="column has-text-danger">
                {% with messages = get_flashed_messages() %}
                {% if messages%}
                {{messages[0]}}
                {%endif%}
                {%endwith%}
            </div>
            <div class="column">
                <input class="input" type="text" placeholder="Username" name="username" id="username">
            </div>
            <div class="column">
                <input class="input" type="password" placeholder="Password" name="password" id="password">
            </div>
            <div class="column">
                <a onclick="alert('your problem (:')" href="#" class="tag">forgot password?</a>
            </div>
            <div class="column">
                <input class="button is-medium is-fullwidth" type="submit" value="Login" id="signup_submit">
            </div>
        </form>
    </div>


    <div class="columns is-centered has-text-centered">
        <div class="has-background-white login round">
            <div class="column">
                <h1 class="title">Sign up</h1>
            </div>
            <div class="column">
                <input class="input" type="text" placeholder="Username" name="username" id="username_signup">
                <h5 class="subtitle is-6 mt-2 has-text-danger" style="display: none;" id="msg1">Empty username</h5>
            </div>
            <div class="column">
                <input class="input" type="password" placeholder="Password" name="password" id="password_signup1">
            </div>
            <div class="column">
                <input class="input" type="password" placeholder="Repeat Password" id="password_signup2">
                <h5 class="subtitle is-6 mt-2 has-text-danger" style="display: none;" id="msg2">Check passwords</h5>
            </div>
            <div class="column has-text-danger" id="message-server">
            </div>
            <div class="column">
                <input id="signup_submit" class="button is-medium is-fullwidth" type="submit" value="Sign In" disabled>
                <button class="button is-medium is-fullwidth" onclick="checkSignupForm()">Sign In</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}