{%extends "base.html"%}

{%block body%}
<div class="is-flex-direction-row is-flex is-justify-content-center">
    <div class="column is-centered is-half has-text-centered">
        <div class='card equal-height'>
            <div class='card-content'>
                <h1 class="title">New post</h1>
            </div>
            <div class='card-content'>
                <form action="/new" method="POST" enctype=multipart/form-data>
                    <input class="input" type="text" name="title" placeholder="Title">

                    <label class="custom-file-upload round p-3 is-size-6 mt-5 mb-5">
                        <input name="image" style="display: none;" type="file" accept="image/*"
                            onchange="loadImage(event)" />
                        Upload Image
                    </label>

                    <img id="upload_image" class="post-image" src="" alt="" class="img_placeholder">
                    <input class="button is-medium is-fullwidth" type="submit" value="PUBLISH">
                </form>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages%}
            <div class="column has-text-danger">
                {{messages[0]}}
            </div>
            {%endif%}
            {%endwith%}

        </div>
    </div>
</div>
{%endblock%}