{%extends "base.html"%} {%block head %} {% endblock %} {%block body %}
<div class="columns mb-5">
    <div class="is-two-thirds m-3">
        <div class='card equal-height'>
            <div class='card-content'>
                <h3 class="title is-3">{{data.title}}</h3>
            </div>
            <div class='card-content'>
                <img class="post-image" src="{{url_for('static',filename=data.filename)}}" alt="">
            </div>
            {%if login%}
            <div class="card-content is-flex">
                <div class="">
                </div>
                <input class="input" type="text" name="new-comment" placeholder="Comment here" id="new-comment">

                <!-- <textarea class="textarea" style="width: 90% !important;min-width: 90% !important;"
                    placeholder="Comment here..." name="" ></textarea> -->
                <button class="button ml-4" onclick="postComment()">
                    <i class="far fa-paper-plane"></i>
                </button>
            </div>
            {%endif%}
            <div class="ml-5 pb-5" id="comments">
                {% for comment in comments %}
                <p class="subtitle pb-0 mb-0"><b>{{comment.username}}</b> {{comment.date}}</p>
                <p class="subtitle">{{comment.content}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include "popular.html" %}
</div>

{% endblock %}