{%extends "base.html"%}

{%block head %}
{% endblock %}

{%block body %}

<div class="container">
    <div class="login_page">
        <form id="signup_form" action="/signup" method="POST">
            <div class="login">
                <h1>Sign in</h1>

                <input type="text" placeholder="Username" name="username" id="username_signup">
                <div class="signup_error" id="username_div"></div>
                <input type="password" placeholder="Password" name="password" id="password_signup1">
                <input type="password" placeholder="Password" id="password_signup2" onchange="checkSignupForm()">
                <div class="signup_error" id="same_password">

                </div>
                <div class="code2fa">
                    Use 2fa code
                    <input type="checkbox" name="check_2fa_code" id="check_2fa_code">
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages%}
                <div class="signup_error big_font">
                    {{messages[0]}}
                </div>
                {%endif%}
                {%endwith%}
                <input id="signup_submit" class="submit_btn" type="submit" value="Sign In" disabled>
            </div>
        </form>
    </div>
</div>
{% endblock %}